:root {
	--primary: #8554C3;
	--primary-light: #554757;
	--primary-second-light: #413A4E;
	--primary-dark: #31112B;
	--purple-light: #2E243E;
	--blue: #0F0B2B;
	--dark: #000000;
	--white: #FFFFFF;
	--grey: #444444;
	--grey-light: #26263e24;
	--background: rgb(49,17,43); 
	--background-gradient: linear-gradient(180deg, rgba(49,17,43,1) 24%, rgba(15,11,42,1) 100%); 
	--background-invert: rgb(49,17,43); 
	--background-gradient-invert: linear-gradient(0deg, rgba(49,17,43,1) 24%, rgba(15,11,42,1) 100%); 
	--facebook: #3b5998;
	--linkedin: #0077b5;
	--instagram: #c1558b;
}